In [1]:
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [27]:
data =[]
for i in tqdm(range(1,51)):
    link = 'https://books.toscrape.com/catalogue/page-'+str(i)+'.html'
    res = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    
    for sp in soup.find_all('li',class_ = 'col-xs-6 col-sm-4 col-md-3 col-lg-3'):
        book_link  = 'https://books.toscrape.com/catalogue/' + sp.find_all('a')[-1].get('href')
        title      = sp.find_all('a')[-1].get('title')
        image_link = 'https://books.toscrape.com/catalogue/' + sp.find('img').get('src')[3:]
        rating     = sp.find('p').get('class')[-1]
        price      = sp.find('p',class_ = 'price_color').text[1:]
        stock      = sp.find('p',class_ = 'instock availability').text.strip()
        data.append([title,rating,price,stock,book_link,image_link])

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [01:05<00:00,  1.31s/it]

In [28]:
len(data)

1000

In [29]:
data[0]

['A Light in the Attic',
 'Three',
 '£51.77',
 'In stock',
 'https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html',
 'https://books.toscrape.com/catalogue/media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg']

In [30]:
data[-1]

['1,000 Places to See Before You Die',
 'Five',
 '£26.08',
 'In stock',
 'https://books.toscrape.com/catalogue/1000-places-to-see-before-you-die_1/index.html',
 'https://books.toscrape.com/catalogue/media/cache/d7/0f/d70f7edd92705c45a82118c3ff6c299d.jpg']

In [33]:
import pandas as pd 
df = pd.DataFrame(data,columns = ['Title','rating','price','stock','book_link','image_link'])

In [34]:
df.head()

,Title,rating,price,stock,book_link,image_link
0,A Light in the Attic,Three,£51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/catalogue/media/cac...
1,Tipping the Velvet,One,£53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/catalogue/media/cac...
2,Soumission,One,£50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/catalogue/media/cac...
3,Sharp Objects,Four,£47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/catalogue/media/cac...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/catalogue/media/cac...

In [8]:
df.isnull().sum()

title         0
rating        0
price         0
stock         0
book_link     0
image_link    0
dtype: int64

In [9]:
df.to_csv('books.csv',index=False)

In [10]:
df = pd.read_csv('books.csv')
df.head()

,title,rating,price,stock,book_link,image_link
0,A Light in the Attic,Three,£51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/catalogue/media/cac...
1,Tipping the Velvet,One,£53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/catalogue/media/cac...
2,Soumission,One,£50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/catalogue/media/cac...
3,Sharp Objects,Four,£47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/catalogue/media/cac...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/catalogue/media/cac...

In [ ]:
dataa = []
for i in tqdm(df['book_link']):
    res = requests.get(i)
    soup = BeautifulSoup(res.text,'html.parser')
    book_type = soup.find('ul',class_ = 'breadcrumb').find_all('a')[2].text
    upc = soup.find('table', class_ = 'table table-striped').find_all('td')[0].text
    price_x = soup.find('table', class_ = 'table table-striped').find_all('td')[2].text[2:]
    price_i = soup.find('table', class_ = 'table table-striped').find_all('td')[3].text[2:]
    tax = soup.find('table', class_ = 'table table-striped').find_all('td')[4].text[2:]
    qn = soup.find('table', class_ = 'table table-striped').find_all('td')[5].text
    reviews = soup.find('table', class_ = 'table table-striped').find_all('td')[6].text
    
    data.append([book_type,price_x,price_i,tax,qn,upc,reviews])

In [14]:
dataa = []
for i in tqdm(df['book_link']):
    res = requests.get(i)
    soup = BeautifulSoup(res.text,'html.parser')
    book_type = soup.find('ul',class_ = 'breadcrumb').find_all('a')[2].text
    temp = soup.find('table', class_ = 'table table-striped').find_all('td')
    upc = temp[0].text
    price_x = temp[2].text[2:]
    price_i = temp[3].text[2:]
    tax = temp[4].text[2:]
    qn = temp[5].text
    reviews = temp[6].text
    
    dataa.append([book_type,price_x,price_i,tax,qn,upc,reviews])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [17:51<00:00,  1.07s/it]

In [19]:
df2 = pd.DataFrame(dataa,columns=['category','price_e_tax','price_i_tax','tax','quantity','upc','reviews'])

In [20]:
df2.head()

,category,price_e_tax,price_i_tax,tax,quantity,upc,reviews
0,Poetry,51.77,51.77,0.00,In stock (22 available),a897fe39b1053632,0
1,Historical Fiction,53.74,53.74,0.00,In stock (20 available),90fa61229261140a,0
2,Fiction,50.10,50.10,0.00,In stock (20 available),6957f44c3847a760,0
3,Mystery,47.82,47.82,0.00,In stock (20 available),e00eb4fd7b871a48,0
4,History,54.23,54.23,0.00,In stock (20 available),4165285e1663650f,0

In [35]:
df2.to_csv('data.csv',index= False)

In [36]:
final_df = pd.DataFrame()

In [40]:
final_df['Title'] = df['Title']
final_df['upc'] = df2['upc']
final_df['category'] = df2['category']
final_df['price_e_tax'] = df2['category']
final_df['price_i_tax'] = df2['category']
final_df['tax'] = df2['tax']
final_df['rating'] = df['rating']
final_df['reviews'] = df2['reviews']
final_df['quantity'] = df2['quantity']
final_df['stock'] = df['stock']
final_df['book_link'] = df['book_link']
final_df['img_link'] = df['image_link']

In [46]:
final_df.head()

,title,upc,category,price_e_tax,price_i_tax,tax,rating,reviews,quantity,stock,book_link,img_link
0,A Light in the Attic,a897fe39b1053632,Poetry,Poetry,Poetry,0.00,Three,0,In stock (22 available),In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/catalogue/media/cac...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,Historical Fiction,Historical Fiction,0.00,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/catalogue/media/cac...
2,Soumission,6957f44c3847a760,Fiction,Fiction,Fiction,0.00,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/catalogue/media/cac...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,Mystery,Mystery,0.00,Four,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/catalogue/media/cac...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,History,History,0.00,Five,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/catalogue/media/cac...

In [47]:
final_df.isnull().sum()

title          0
upc            0
category       0
price_e_tax    0
price_i_tax    0
tax            0
rating         0
reviews        0
quantity       0
stock          0
book_link      0
img_link       0
dtype: int64

In [48]:
final_df.to_csv('Final.csv',index= False)